<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container">

    <div class="card">
    <h5 class="card-header">Contrato</h5>
    <div class="card-body">
        <h5 class="card-title">Pontomais</h5>
        <p class="card-text">Documentação e termos de contrato para o software pontomais. </p>
        <a href="https://drive.google.com/drive/folders/1ZHOcLcDN3y7rrlerMn2rJhYrmqHtyRY9?usp=sharing" class="btn btn-primary">Abrir</a>
    </div>
    </div>

    <div class="card">
    <h5 class="card-header">Documentos</h5>
    <div class="card-body">
        <h5 class="card-title">Funcionarios</h5>
        <p class="card-text">Contrato de admissão e historico de funcionarios da empresa.</p>
        <a href="https://drive.google.com/drive/folders/1-oRe-XTgtUIO8i79x05TZYFCpWW1Jkv6?usp=sharing" class="btn btn-primary">Abrir</a>
    </div>
    </div>

    <div class="card">
    <h5 class="card-header">Tabelas</h5>
    <div class="card-body">
        <h5 class="card-title">Tabelas de treinamentos</h5>
        <p class="card-text">Tabelas de treinamentos para novos funcionarios.</p>
        <a href="https://drive.google.com/drive/folders/1-ujLE4v1RT8nbJbQDidYWXcWfIdfvBt9?usp=sharing" class="btn btn-primary">Abrir</a>
    </div>
</div>

</div>