@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container"> 
    <h3>Tabela de disponibilidade</h3>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cargo</th>
        <th scope="col">Disponibilidade</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
        <th scope="row">1</th>
        <td>Maicon</td>
        <td>Mecânico</td>
            <td><select class="form-select" aria-label="Default select example">
                    <option selected>Disponivel</option>
                    <option value="1">Indisponível</option>
                    </select>
            </td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Raimundo</td>
        <td>Mecânico</td>
            <td><select class="form-select" aria-label="Default select example">
                        <option selected>Disponivel</option>
                        <option value="1">Indisponível</option>
                        </select>
            </td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Samuel</td>
        <td>Mecânico</td>
        <td><select class="form-select" aria-label="Default select example">
                        <option selected>Disponivel</option>
                        <option value="1">Indisponível</option>
                        </select>
        </td>
        </tr>
    </tbody>
    </table>
</div>
